/* Premium.css */.container {
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 12px;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #17a34a;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 2.8rem;
  color: #1db954;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #fff;
}

.plans {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensure all cards are of the same height */
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  margin-left: 50px;
}

.plan-card {
  background: #fff;
  max-width: 450px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 25px;
  flex: 1; /* Ensures that all cards grow to the same height */
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
  position: relative;
  z-index: 2;
}

.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 1.8rem;
  color: #1db954;
  margin-bottom: 15px;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.features li {
  margin-bottom: 12px;
  font-size: 1rem; /* Adjusted font size for better readability */
}

.button {
  background: #1db954;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: 3;
}

.button:hover {
  background: #17a34a;
  transform: scale(1.05);
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #fff;
}

.link {
  color: #1db954;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
